a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color:lightgrey;
}

a:focus {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color:lightgrey;
}

.section {
  padding: 60px;
}

.section__container {
  background-color: #ffffff;
  opacity: .95;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px){
  .section {
    padding: 0px;
  }

  .section__title {
    font-size: 30px;
  }

  .picture-row {
    flex-direction: column;
    align-items: center;
  }

  .section__container {
    height: 100vh !important;
    overflow-y: scroll;
  }

  .content-container {
    height: 25px
  }

  .content-container__title {
    text-align: left !important;
    margin-left: 40px;
    font-size: 60px;
    font-weight: normal;
  }

  .content-container__title:hover {
    text-align: left !important;
    margin-left: 40px;
    font-size: 60px;
    font-weight: normal;
  }

  .content-section {
    height: 105px !important;
  }

  .content-section-container {
    margin-top: 270px;
  }

  .home__logo {
    margin-top: -270px;
  }

  .section__content-container {
    margin-top: 75px;
  }

  .section__row {
    margin-top: 75px;
  }

  .section__header {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 30;
    margin-bottom: 50px;
  }

  .first-header {
    margin-top: 50px;
  }

  .content-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .picture-row__picture {
    margin-bottom: 10px;
  }
}

.portfolio {
  background-color: #ffffff;
  opacity: .95;
  height: 80vh;
}

.section__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.picture-row {
  display: flex;
  justify-content: space-around;
}

.section__title {
  text-align: center;
  margin-bottom: 10px;
}

.carousel {
  height: 50vh;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.000) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    background-repeat: repeat-x;
    color: black;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -o-linear-gradient(right,rgba(0,0,0,.5) 0,rgba(0,0,0,.000) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    background-repeat: repeat-x;
    color: black;
}

.section__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-around;
}

.section__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__close-button:hover {
  -webkit-animation: rotate-close .5s 1;
  -moz-animation:    rotate-close .5s 1;
  -o-animation:      rotate-close .5s 1;
  animation:         rotate-close .5s 1;
}

.section__content {
  font-size: 20px;
  padding: 10px;
}

.section__content-label {
  font-size: 60px;
  color:black;

}

.section__content-label:active {
  font-size: 60px;
  color:black;
  text-decoration: none;
}
.section__content-label:focus {
  font-size: 60px;
  color:black;
  text-decoration: none;
}

.section__content-label:hover {
  font-size: 60px;
  color:lightgrey;
  text-decoration: none;
}

.contact-section {
  text-align: center;
  margin-bottom: 40px;
}

@-webkit-keyframes rotate-close {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}
@-moz-keyframes rotate-close {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}
@-o-keyframes rotate-close {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}
@keyframes rotate-close {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}
