
ul {
  list-style-type: none;
}
li {
  font-size: 28px;
  animation: fade-in-1 .5s linear;
  padding: 8px;

}
li:hover {
  background-color: #353434;
  animation: fade-to-black .5s linear;
  color: white;
  font-size: 28px;
  padding: 8px;
  border-radius: 10px 30px 10px 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
  transform: translateZ(-1px);
}
.top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: -40px;
}

.initials {
  height: 248px;
  animation: fade-in-1 2s;

}

.developer {
  margin-right: 15px;
  animation: fade-in-2 2s;

}
.full-name {
  height: 46.5px;
  margin-right: 8px;
  animation: fade-in-3 2s;
}

.navbar {
  margin-top: 240px;
  animation: fade-in-4 2s;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes fade-in-1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1}
}

@keyframes fade-in-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1}
}

@keyframes fade-in-4 {
  0% { opacity: 0; }
  70% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade-to-black {
  0% { opacity: 0; }
  50% { opacity: .5}
  100% { opacity: 1}
}
