body {
  font-family: 'HelveticaNeue-Thin', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  /*font-weight: lighter;*/
  overflow-x: hidden;
  background-image: url('./assets/mountains.jpg');
  background-size: cover;
}


@media screen and (max-width: 800px){
  body {
    background-size: auto;
  }
}
